// footer styles

.wrap-outer-footer {
  background-color: $black;
  color: $white;
  font-size: $fs-xsmall;
}

.wrap-footer {
    background: $black url('https://cdn.mitlibrary.net/files/branding/local/vi-shape7-tp.svg') no-repeat 10% center;

  a {
    @extend %link;
    color: $white;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
      color: $white;
    }
  }

  .title {
    @extend .hd-6;
    margin-bottom: .8rem;
  }

  .wrap-list .link-sub {
    display: list-item;
    list-style-type: none;
    margin-bottom: .65rem;
    font-weight: $fw-light;
  }

  .logo-mit-lib {
    fill: $white;

    img {
      max-height: 60px;
      max-width: 100%;
      vertical-align: baseline;
    }
  }

  .wrap-policies {
    @extend .list-inline-pipe;
    font-size: $fs-small;
  }
}

// MIT footer
.wrap-outer-footer-institute {
  background-color: $gray-d1;
  font-size: $fs-xxsmall;
  color: $gray-l3;

  .footer-info-institute {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  a {
    @extend %link;
    color: $white;
    &:hover,
    &:active,
    &:focus {
      color: $white;
    }
  }

  .license {
    color: $gray-l3;
    margin-left: 2em;
  }
}
